*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 34px;
}
h1{
    font-size: 50px;
    color: white;
}
a:hover{
    color: rgb(173, 64, 64);
}

.bg-img{
    height: 100vh;
    width: 98.9vw;
    background-image: url("images/pexels-joey-lu-186537.jpg");
    background-size: cover;
}
.nav{
    position:fixed;
    height: 6rem;
    width: 97.9%;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(2px) brightness(.4);
}
.title{
    display: flex;
    gap: 1rem;
    font-size: 50px;
    padding-left: 1rem;
    color: #fff;
}
.logo{
    height: 4rem;
    width: 4rem;
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.items{
    display: flex;
    gap: 2rem;
    font-size: 25px;
    color: #fff;
}
.desc{
    height: 45rem;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 80px;
}
.allign{
    height: 14rem;
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 6px;
    backdrop-filter: blur(2px) brightness(1.4);
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.catg{
    padding-top: 2rem;
    height: 125vh;
    width: 98.7vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(31, 35, 37);
    gap: 20rem;
}
.descript{
    padding: 1rem 0 0 3rem;

}
.sort{
    height: 20rem;
    width: 99.99%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hand-img{
    height: 25rem;
    width: 18rem;
}
.hand-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.photo{
    height: 13rem;
    width: 18rem;
}
.photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.planner{
    height: 20rem;
    width: 20rem;
    border: 1x solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}